.header {
  @include desktop {
    padding-top: 10px;
  }
  @include tablet {
    padding-bottom: 15px;
    border-bottom: 1px solid #afaeae;
  }
  &__wrapper {
    @include flex-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 15px;
    @include tablet {
      padding-bottom: 0;
    }
    @include mobile {
      gap: 0;
    }
  }
  &__btn-burger {
    display: none;
    border-radius: 5px;
    border: 1px solid var(--tundora);
    width: 47px;
    height: 47px;
    &.active {
      span {
        position: absolute;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
    span {
      display: block;
      border-radius: 5px;
      width: 21px;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.2s ease;
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }
  &__logo {
    display: block;
    width: 330px;
    @include desktop {
      width: 215px;
    }
    @include laptop {
      width: 180px;
    }
    @include tablet {
      width: 220px;
    }
    @media (max-width: 399px) {
      width: 180px;
    }
  }
  &__logo-img {
    width: 100%;
  }
  &__form {
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--tundora);
    background-color: var(--light-gray);
    @include desktop {
      max-width: 300px;
    }
    @include laptop {
      max-width: 250px;
    }
    @include tablet {
      display: none;
    }
  }
  &__input {
    flex: 1;
    font-weight: 500;
    font-size: 14px;
    color: var(--tundora);
    padding: 0 20px;
  }
  &__form-btn {
    @include flex-center;
    width: 50px;
    height: 50px;
    color: var(--main);
    @include laptop {
      width: 40px;
      height: 40px;
    }
  }
  &__form-icon {
    width: 23px;
    height: 23px;
    @include laptop {
      width: 18px;
      height: 18px;
    }
  }
  &__nav-top {
    @include desktop-min {
      display: none;
    }
  }
  &__nav-top-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 360px;
    width: 100%;
    li {
      flex: 0 1 32%;
    }
    a {
      display: flex;
      align-items: center;
      gap: 5px;

      font-weight: 500;
      font-size: 12px;
      transition: color 0.2s ease;
      @include hover {
        color: var(--main);
      }
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  &__tel {
    display: flex;
    align-items: center;
    gap: 15px;

    color: black;
    font-weight: 600;
    font-size: 23px;
    transition: color 0.2s ease;
    @include hover {
      color: var(--main);
    }
    @include desktop {
      font-size: 18px;
    }
    @include laptop {
      font-size: 16px;
    }
    @include tablet {
      @include flex-center;
      width: 47px;
      height: 47px;
      background-color: var(--main);
      border-radius: 5px;
      span {
        display: none;
      }
    }
  }
  &__tel-icon {
    width: 24px;
    height: 24px;
    color: var(--main);
    @include tablet {
      color: white;
      width: 40px;
      height: 40px;
    }
  }
  &__btn-order {
    font-family: "Gilory", sans-serif;
    font-size: 16px;
    width: fit-content;
    border-bottom: 1px dashed currentColor;
    transition: color 0.2s ease;
    @include hover {
      color: var(--main);
    }
    @include tablet {
      display: none;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    background-color: var(--main);
    border-radius: 5px;
    color: white;
    @include tablet {
      position: fixed;
      flex-direction: column;
      row-gap: 15px;
      max-width: 500px;
      width: 100%;
      top: 77px;
      bottom: 0;
      left: 0;
      background-color: var(--light-gray);
      border-right: 1px solid var(--iron);
      color: var(--tundora);
      padding: 20px 15px;
      overflow-y: auto;
      align-items: start;
      border-radius: 0;
      transform: translateX(-500px);
      z-index: 100;
      transition: transform 0.5s ease;
      &.open {
        transform: translateX(0);
      }
    }
    @media (max-width: 399px) {
      top: 73px;
    }
  }
  &__catalog-parent {
    flex: 0 1 235px;
    @include laptop {
      flex: none;
    }
    @include tablet {
      width: 100%;
    }
  }
  &__catalog-btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    gap: 10px;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid var(--jewel);
    background-color: var(--jewel);

    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.2s ease;
    @include hover {
      background-color: transparent;
    }
    @include laptop {
      @include flex-center;
      font-size: 14px;
      flex: none;
      padding: 0;
      width: 40px;
      height: 40px;
      span {
        display: none;
      }
    }
    @include tablet {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: transparent;
      width: 100%;
      height: auto;
      font-size: 18px;
      border-right: none;
      &._spoller-active {
        &::after {
          transform: rotate(0deg);
        }
      }
      span {
        display: block;
        background-color: transparent;
      }
      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background-color: var(--main);
        right: 0;
        transition: transform .2s ease;
      }
      &::after {
        transform: rotate(90deg);
      }
    }
  }
  &__catalog-burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20px;
    span {
      display: block;
      border-radius: 5px;
      width: 100%;
      height: 2px;
      background-color: currentColor;
    }
    @include tablet {
      display: none;
    }
  }
  &__catalog-list-btn {
    font-family: "Gilory", sans-serif;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 12px;
    transition: color 0.2s ease;
    @include hover {
      color: var(--main);
    }
    &--sub {
      font-size: 12px;
      padding: 12px 10px;
    }
    &._spoller-active {
      color: var(--main);
      .header__catalog-arrow {
        transform: rotate(0deg);
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--iron);
    }
  }
  &__dropdown-catalog {
    width: 235px;
    &--sub {
      left: 234px;
      top: 1px;
    }
    &--sub-end {
      left: 234px;
      top: 1px;
      .dropdown__parent {
        &:not(:last-child) {
          border-bottom: 1px solid var(--iron);
        }
      }
    }
    @include tablet {
      position: static !important;
      opacity: 1 !important;
      visibility: visible !important;
      transform: translateY(0) !important;
      width: 100%;
      border: none !important;
      &--sub {
        padding-left: 15px;
      }
      &--sub-end {
        padding-left: 30px;
      }
    }
  }
  &__category-icon {
    width: 14px;
    height: 14px;
  }
  &__catalog-arrow {
    display: block;
    transform: rotate(-90deg);
    width: 10px;
    height: 10px;
    margin-left: auto;
    transition: transform .2s ease;
  }
  &__nav-list {
    @include flex-between;
    font-family: "Gilory", sans-serif;
    flex: 1;
    padding: 0px 35px 0px 65px;
    @include desktop {
      padding: 0 15px;
    }
    @include tablet {
      padding: 0;
      flex-direction: column;
      gap: 15px;
      align-items: start;
      justify-content: start;
    }
    a {
      position: relative;
      font-size: 18px;
      @include desktop-min {
        font-size: 14px;
      }
      @include laptop {
        font-size: 12px;
      }
      @include tablet {
        font-size: 16px;
      }
    }
  }
}
