.offer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: end;
  padding: 30px 0px 100px 0px;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 50%;
    bottom: 80px;
    left: 0;
    border-radius: 5px;
    background-color: var(--main);
    z-index: -1;
  }
  @include desktop-min {
    &::before {
      right: 45%;
    }
  }
  @include laptop {
    flex-direction: column;
    row-gap: 45px;
    padding-top: 0;
    &::before {
      display: none;
    }
  }
  &__container {
    @include flex-between;
    gap: 100px;
    @include desktop-min {
      gap: 70px;
    }
    @include laptop {
      flex-direction: column;
      gap: 45px;
    }
  }
  &__about {
    color: white;
    overflow: hidden;
    flex: 0 1 670px;
    @include desktop {
      flex-basis: 700px;
    }
    @include laptop {
      position: relative;
      flex: none;
      width: 100%;
      overflow: visible;
      padding: 30px 0px;
      z-index: 1;
      &::before {
        position: absolute;
        content: "";
        background-color: var(--main);
        inset: 0px -15px 0px -15px;
        z-index: -1;
      }
    }
  }
  &__about-title {
    margin-bottom: 20px;
    color: white;
    @include laptop {
      text-align: center;
    }
  }
  &__about-content {
    font-size: 14px;
    max-width: 685px;
    margin: 0px 0px 70px 0px;
    @include desktop-min {
      margin-bottom: 30px;
    }
    @include laptop {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  &__slider {
    width: 100%;
    height: 320px;
    @include desktop-min {
      height: 260px;
    }
    @include laptop {
      max-width: 600px;
      margin: 0 auto;
    }
    @include mobile {
      height: 190px;
    }
  }
  &__slide {
  }
  &__slide-img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__slider-pagination {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    @include desktop {
      gap: 20px;
      row-gap: 15px;
      flex-wrap: wrap;
    }
    @include laptop {
      justify-content: center;
    }
  }
  &__pagination-btn {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    @include hover {
      &::before {
        opacity: 1;
      }
    }
    &.active {
      &::before {
        opacity: 1;
      }
    }
    @include desktop {
      width: 80px;
      height: 80px;
    }
    @include tablet {
      width: 60px;
      height: 60px;
      border-radius: 3px;
      &::before {
        border-radius: 3px !important;
      }
    }
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      border: 2px solid white;
      border-radius: 10px;
      opacity: 0;
      transition: opacity 0.2s ease;
      z-index: 10;
    }
  }
  &__pagination-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__trading {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 630px;
    @include laptop {
      padding: 0 25px;
      width: 100%;
    }
  }
  &__trading-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 25px 60px 60px 60px;
    width: 100%;
    background-color: var(--light-gray);
    margin: 0 auto;
    @include desktop-min {
      max-width: 400px;
    }
    @include tablet {
      padding-top: 25px 35px;
    }
  }
  &__trading-title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__trading-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__trading-btn {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-style: italic;
    gap: 40px;
    font-weight: 300;
    font-size: 30px;
    text-decoration: underline;
    transition: color 0.2s ease;
    span {
      display: block;
    }
    @include hover {
      color: var(--main);
    }
    @include desktop {
      font-size: 22px;
      gap: 20px;
    }
    @include tablet {
      font-size: 18px;
      gap: 10px;
    }
    @include mobile-min {
      font-size: 16px;
    }
  }
  &__trading-play {
    @include flex-center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: var(--main);
    @include desktop {
      width: 60px;
      height: 60px;
    }
    @include mobile {
      width: 45px;
      height: 45px;
    }
    @include mobile-min {
      width: 35px;
      height: 35px;
    }
  }
  &__trading-play-icon {
    color: white;
    width: 30px;
    height: 30px;
    @include desktop {
      width: 20px;
      height: 20px;
    }
    @include mobile {
      width: 15px;
      height: 15px;
    }
    @include mobile-min {
      width: 10px;
      height: 10px;
    }
  }
}
