<section class="catalog">
  <div class="container">
    <div class="catalog__item">
      <h2 class="title title-2 catalog__item-title">Новинки</h2>
      <div class="catalog__item-wrapper">
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
      </div>
    </div>
    <div class="catalog__item">
      <h2 class="title title-2 catalog__item-title">Новинки</h2>
      <div class="catalog__item-wrapper">
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
      </div>
    </div>
    <div class="catalog__item">
      <h2 class="title title-2 catalog__item-title">Новинки</h2>
      <div class="catalog__item-wrapper">
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
        <article class="product">
          <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
          <h5 class="title product__title">
            Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
          </h5>
          <span class="product__price">от 300 р.</span>
          <a href="#" class="btn btn-main">Оптовые цены</a>
        </article>
      </div>
    </div>
  </div>
</section>
