<section class="hero">
  <div class="container">
    <div class="hero__body">
      <img src="@img/hero-bg.png" alt="bg" class="hero__bg" />
      <div class="hero__info">
        <div class="hero__status">
          <svg class="hero__status-icon">
            <use xlink:href="img/icons/icons.svg#icon-exc"></use>
          </svg>
          <span class="hero__status-content">Официальный производитель</span>
        </div>
        <h1 class="title title-1 hero__title">Новые электропилы <span>-30% оптом</span></h1>
        <button data-modal="modal-connection" class="btn btn-modal btn-primary hero__btn">Узнать оптовые цены</button>
      </div>
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="@img/hero-slide.png" alt="slide" class="hero__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/hero-slide.png" alt="slide" class="hero__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/hero-slide.png" alt="slide" class="hero__slide-img" />
          </div>
        </div>
      </div>
    </div>
    <div class="hero__slider-pagination"></div>
  </div>
</section>
