<div class="offer">
  <div class="container offer__container">
    <div class="offer__about">
      <h2 class="title title-2 offer__about-title">О наших продуктах</h2>
      <p class="offer__about-content">
        Lorem ipsum dolor sit amet consectetur. Ac ut feugiat sem tristique tristique tellus. Non
        augue dui phasellus egestas massa. Amet consectetur eget nullam dapibus ornare duis.
        Pellentesque tempus sit a dignissim cras penatibus aliquet. Lorem ipsum dolor sit amet
        consectetur. Ac ut feugiat sem tristique tristique tellus. Non augue dui phasellus egestas
        massa. Amet consectetur eget nullam dapibus ornare duis. Pellentesque tempus sit a dignissim
        cras penatibus aliquet.
      </p>
      <div class="swiper offer__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide offer__slide">
            <img src="@img/about.jpg" alt="about" class="offer__slide-img" />
          </div>
          <div class="swiper-slide offer__slide">
            <img src="@img/about.jpg" alt="about" class="offer__slide-img" />
          </div>
          <div class="swiper-slide offer__slide">
            <img src="@img/about.jpg" alt="about" class="offer__slide-img" />
          </div>
          <div class="swiper-slide offer__slide">
            <img src="@img/about.jpg" alt="about" class="offer__slide-img" />
          </div>
        </div>
      </div>
      <div class="offer__slider-pagination">
        <button class="btn offer__pagination-btn">
          <img src="@img/about.jpg" alt="about" class="offer__pagination-img" />
        </button>
        <button class="btn offer__pagination-btn">
          <img src="@img/about.jpg" alt="about" class="offer__pagination-img" />
        </button>
        <button class="btn offer__pagination-btn">
          <img src="@img/about.jpg" alt="about" class="offer__pagination-img" />
        </button>
        <button class="btn offer__pagination-btn">
          <img src="@img/about.jpg" alt="about" class="offer__pagination-img" />
        </button>
      </div>
    </div>
    <div class="offer__trading">
      <div class="offer__trading-body">
        <h2 class="title title-2 offer__trading-title">Ищите нас</h2>
        <ul class="list offer__trading-list">
          <li>
            <img width="380" src="@img/wb.svg" alt="wb" class="offer__trading-img" />
          </li>
          <li>
            <img width="260" src="@img/ozon.svg" alt="ozon" class="offer__trading-img" />
          </li>
          <li>
            <img width="385" src="@img/yamarket.svg" alt="yamarket" class="offer__trading-img" />
          </li>
          <li>
            <img width="240" src="@img/all-fillied.svg" alt="fillied" class="offer__trading-img" />
          </li>
        </ul>
      </div>
      <a
        href="https://www.youtube.com/watch?v=uQXqu5oU1vE"
        data-fancybox="about-company"
        class="offer__trading-btn"
      >
        <div class="offer__trading-play">
          <svg class="offer__trading-play-icon">
            <use xlink:href="img/icons/icons.svg#icon-play"></use>
          </svg>
        </div>
        <span>Посмотреть видео о компании</span>
      </a>
    </div>
  </div>
</div>
