<section class="products">
  <img src="@img/points.svg" alt="points" class="products__points">
  <div class="container parent-tab">
    <div class="products__head">
      <h2 class="title title-2">Продукция</h2>
      <div class="products__nav">
        <button data-tab="category-1" class="btn btn-tab products__btn active">Категория 1</button>
        <button data-tab="category-2" class="btn btn-tab products__btn">Категория 2</button>
        <button data-tab="category-3" class="btn btn-tab products__btn">Категория 3</button>
        <button data-tab="category-4" class="btn btn-tab products__btn">Категория 4</button>
      </div>
    </div>
    <div data-tab="category-1" class="products__catalog tab open">
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
    </div>
    <div data-tab="category-2" class="products__catalog tab">
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
    </div>
    <div data-tab="category-3" class="products__catalog tab">
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
    </div>
    <div data-tab="category-4" class="products__catalog tab">
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
      <article class="product">
        <span class="product__discount">-30%</span>
        <img src="@img/mini/screwdriwer.png" alt="screwdriwer" class="product__img" />
        <h5 class="title product__title">
          Дрель-шуруповерт аккумуляторная Makita G-серия 18B, 13 мм huhuhhhhhu
        </h5>
        <span class="product__price">от 300 р.</span>
        <a href="#" class="btn btn-main">Оптовые цены</a>
      </article>
    </div>
  </div>
</section>
