<section class="questions">
  <div class="container questions__container">
    <h2 class="title questions__title">Остались вопросы? Оставьте заявку или напишите нам!</h2>
    <form action="#" class="questions__form">
      <input type="tel" placeholder="Телефон" class="input form__input questions__form-input">
      <button class="btn btn-main questions__form-btn">Оставить заявку</button>
      <p class="form__politic">Нажимая кнопку вы соглашаетесь с <a href="#">правилами политики конфиденциальности</a></p>
    </form>
  </div>
</section>