<section class="seo">
  <div class="container seo__container">
    <div class="seo__item">
      <h2 class="title title-2 seo__title">Текст для SEO</h2>
      <p class="seo__content">
        Lorem ipsum dolor sit amet consectetur. Ac ut feugiat sem tristique tristique tellus. Non
        augue dui phasellus egestas massa. Amet consectetur eget nullam dapibus ornare duis.
        Pellentesque tempus sit a dignissim cras penatibus aliquet. Lorem ipsum dolor sit amet
        consectetur. Ac ut feugiat sem tristique tristique tellus. Non augue dui phasellus egestas
        massa. Amet consectetur eget nullam dapibus ornare duis. Pellentesque tempus sit a dignissim
        cras penatibus aliquet.
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur. Ac ut feugiat sem tristique tristique tellus. Non
        augue dui phasellus egestas massa. Amet consectetur eget nullam dapibus ornare duis.
        Pellentesque tempus sit a dignissim cras penatibus aliquet. Lorem ipsum dolor sit amet
        consectetur. Ac ut feugiat sem tristique tristique tellus. Non augue dui phasellus egestas
        massa. Amet consectetur eget nullam dapibus ornare duis. Pellentesque tempus sit a dignissim
        cras penatibus aliquet.
      </p>
    </div>
    <div class="seo__item">
      <h2 class="title title-2 seo__title">Текст для SEO</h2>
      <p class="seo__content">
        Lorem ipsum dolor sit amet consectetur. Ac ut feugiat sem tristique tristique tellus. Non
        augue dui phasellus egestas massa. Amet consectetur eget nullam dapibus ornare duis.
        Pellentesque tempus sit a dignissim cras penatibus aliquet. Lorem ipsum dolor sit amet
        consectetur. Ac ut feugiat sem tristique tristique tellus. Non augue dui phasellus egestas
        massa. Amet consectetur eget nullam dapibus ornare duis. Pellentesque tempus sit a dignissim
        cras penatibus aliquet.
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur. Ac ut feugiat sem tristique tristique tellus. Non
        augue dui phasellus egestas massa. Amet consectetur eget nullam dapibus ornare duis.
        Pellentesque tempus sit a dignissim cras penatibus aliquet. Lorem ipsum dolor sit amet
        consectetur. Ac ut feugiat sem tristique tristique tellus. Non augue dui phasellus egestas
        massa. Amet consectetur eget nullam dapibus ornare duis. Pellentesque tempus sit a dignissim
        cras penatibus aliquet.
      </p>
    </div>
  </div>
</section>
