.btn {
  font-family: "Gilory", sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}
.btn-primary {
  border-radius: 5px;
  padding: 15px 30px;
  background-color: white;
  border: 1px solid white;
  font-weight: 500;
  font-size: 22px;
  color: var(--tundora);
  transition: color .2s ease, background-color .2s ease;
  @include hover {
    color: white;
    background-color: transparent;
  }
  @include laptop {
    font-size: 20px;
  }
  @include tablet {
    font-size: 18px;
  }
  @include mobile {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
