.modal-connection {
  &__title {
    font-weight: 400;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
    @include laptop {
      font-size: 30px;
    }
    @include tablet {
      font-size: 25px;
    }
  }
  &__content {
    margin: 0px 0px 30px 0px;
    font-size: 22px;
    text-align: center;
    @include laptop {
      font-size: 18px;
    }
    @include tablet {
      font-size: 16px;
    }
  }
  &__input {
    width: 100%;
  }
  &__btn {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
  }
  &__form-politic {
    font-size: 12px;
    text-align: center;
    color: var(--dusty-gray);
    a {
      text-decoration: underline;
      @include hover {
        color: var(--highland);
      }
    }
  }
}